<form action="CommentariusAddTemplateAction.jspa" class="aui" enctype="multipart/form-data" method="post">
    <p>Проектная роль</p>
    <select name="selectedProjectRoleId">
        #foreach ($role in $action.projectRoles)
        <option value="$role.id"
        #if ($selectedProjectRoleId && $selectedProjectRoleId == $role.id) selected #end
        >
            $role.name
        </option>
        #end
    </select>
    <select name="selectedTemplateType">
        #foreach ($templateType in $action.templateTypes)
        <option>
            $templateType
        </option>
        #end
    </select>
    <p>Краткая форма</p>
    <input type="text" name="small" value="#if($small)$small#end"></input>
    <p>Полная форма</p>
    <textarea name="full" style="height: 120px;">#if($full)$full#end</textarea>
    <p>Сохранить</p>
    <input type="submit" class="button" name="Save" value="Save"/>
    <input type="hidden" name="save" value="true"/>
    <input type="hidden" name="id" value="$!id"/>

</form>